@model Capstone.Neighbor


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class="alert">
        <span class="fas fa-exlamation-circle"></span>
        <span class="msg">Warning: </span>
        <span class="close-btn">
            <span class="fas fa-times"></span>
        </span>
    </div>
    <div>
        <h4>Customer</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EmailAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EmailAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HomeAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HomeAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.State)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.State)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ZipCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ZipCode)
            </dd>

        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
        <a asp-action="Location">Locations</a>
        <a asp-action="CreateLocation">Create Location To Display On Map</a>
    </div>
</body>
</html>
